# Virtual envs
ven/
venv/
.env
.env.*
.pyenv
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor
.vscode/
.idea/
.DS_Store

# SQLite DB (optional: ignore local DB)
database.db
*.sqlite
*.sqlite3

# System files
Thumbs.db
